@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Muller-Light'),
    url("../fonts/MullerLight.woff") format("woff"),
    url("../fonts/MullerLight.woff2") format("woff2");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Muller-Regular'),
    url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.woff2") format("woff2");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Muller-Medium'),
    url("../fonts/MullerMedium.woff") format("woff"),
    url("../fonts/MullerMedium.woff2") format("woff2");
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Muller-Bold'),
    url("../fonts/MullerBold.woff") format("woff"),
    url("../fonts/MullerBold.woff2") format("woff2");
}

:root {
  --white: #fff;
  --pale-yellow: #e9c479;
  --yellow: #cc9933;
  --dark-yellow: #a47312;
  --gray: #999;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Muller', sans-serif;
  background-color: #f1f1f1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333;
}

.header {
  padding-top: 30px;
  padding-bottom: 70px;
}

.header-container {
  flex-direction: column;
}

.header-top {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-top-left {
  flex-wrap: nowrap;
  align-items: center;
}

.header-bottom {
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px;
  background-color: var(--white);
  border-radius: 15px;
}

.header-logo-link {
  margin-right: 40px;
}

.header-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header-contacts:focus {
  color: var(--yellow);
  outline-offset: 2px;
  outline: 1px solid var(--yellow);
}

.header-contacts:hover {
  color: var(--yellow);
}

.header-contacts:active {
  color: var(--dark-yellow);
  outline: none;
}

.header-login {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--yellow);
  transition: color 0.3s ease-in-out;
}

.header-login svg {
  margin-right: 7px;
  fill: var(--yellow);
  transition: fill 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header-login:focus {
  color: var(--yellow);
  outline-offset: 5px;
  outline: 1px solid var(--yellow);
}

.header-login:hover {
  color: var(--pale-yellow);
}

.header-login:hover svg {
  fill: var(--pale-yellow);
}

.header-login:active {
  color: var(--dark-yellow);
  outline: none;
}

.header-login:active svg {
  fill: var(--yellow);
}

.header-nav {
  padding: 17px 56px 17px 0;
  padding-right: 56px;
  border-right: 1px solid #e1e1e1;
}

.header-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header-link:focus {
  color: var(--yellow);
  outline-offset: 2px;
  outline: 1px solid var(--yellow);
}

.header-link:hover {
  color: var(--yellow);
}

.header-link:active {
  color: var(--dark-yellow);
  outline: none;
}

.header-item:not(:last-child) {
  margin-right: 45px;
}

.btn {
  padding: 13px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 10px;
  outline: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn:focus {
  color: var(--white);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.btn:hover {
  color: var(--white);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.btn:active {
  color: var(--white);
  background-color: var(--dark-yellow);
  border-color: var(--dark-yellow);
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

.section-container {
  margin-bottom: 70px;
}

.special_container {
  flex-direction: row;
  justify-content: space-between;
}

.special-column-left {
  flex-flow: column wrap;
  width: 573px;
}

.special-item {
  position: relative;
  padding: 40px;
  width: 573px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.special-item-left {
  min-height: 258px;
}

.special-item-left:not(:last-child) {
  margin-bottom: 23px;
}

.special-item-right {
  padding: 211px 40px 40px;
  min-height: 540px;
}

.special-item-left_upper {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url("../img/specials-1.jpg");
}

.special-item-left_down {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
   url("../img/specials-2.jpg");
}

.special-item-right {
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
   url("../img/specials-3.jpg");
}

.special-item-title {
  margin: 0;
  margin-bottom: 15px;
  max-width: 300px;
}

.special-item-title-left {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--white);
}

.special-item-title-right {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--white);
}

.special-text {
  margin: 0;
  margin-bottom: 47px;
}

.special-text-left {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.special-text-right {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--white);
}

.special-link {
  display: inline-flex;
  padding-right: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffcc66;
  outline: none;
  transition: color 0.3s ease-in-out;
}

.special-link-errow {
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

.special-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  outline: 1px solid transparent;
  outline-offset: 8px;
  transition: outline 0.3s ease-in-out;
}

.special-link:focus::before {
  outline-color: var(--yellow);
}

.special-link:hover .special-link-errow {
  transform: translateX(11px);
}

.special-link:active {
  color: var(--white);
}

.special-link:active .special-link-errow {
  transform: translateX(0);
}

.special-link:active::before {
  outline-color: transparent;
}

.about-us-text {
  margin: 0;
  width: 888px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

.service-list {
  flex-flow: row wrap;
}

.service-item {
  position: relative;
  padding: 191px 45px 45px;
  width: 573px;
  background-color: var(--white);
  border-radius: 15px;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 23px;
}

.service-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.service-item:nth-last-child(-n+2):nth-child(2n+1),
.service-item:nth-last-child(-n+2):nth-child(2n+1) ~ .service-item {
  margin-bottom: 0;
}

.service-item-first {
  background-image: url("../img/service-1.jpg");
}

.service-item-second {
  background-image: url("../img/service-2.jpg");
}

.service-item-third {
  background-image: url("../img/service-3.jpg");
}

.service-item-forth {
  background-image: url("../img/service-4.jpg");
}

.service-preview-title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--yellow);
}

.service-preview-title-link {
  display: inline-flex;
  align-items: center;
  outline: none;
  transition: color 0.3s ease-in-out;
}

.service-preview-title-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  outline: 1px solid transparent;
  outline-offset: 8px;
  transition: outline 0.3s ease-in-out;
}

.service-preview-title-errow {
  margin-left: 5px;
  stroke: var(--yellow);
  transition: stroke 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.service-preview-title-link:focus::before {
  outline-color: var(--yellow);
}

.service-preview-title-link:hover {
  color: var(--pale-yellow);
}

.service-preview-title-link:hover .service-preview-title-errow {
  stroke: var(--pale-yellow);
  transform: translateX(11px);
}

.service-preview-title-link:active {
  color: var(--dark-yellow);
}

.service-preview-title-link:active .service-preview-title-errow {
  transform: translateX(0);
}


.service-preview-title-link:active::before {
  outline-color: transparent;
}

.service-preview-descr {
  margin: 0;
  max-width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

.benefits-list {
  flex-flow: row wrap;
}

.benefit-item {
  padding: 116px 45px 40px;
  width: 275px;
  min-height: 275px;
  background-color: var(--white);
  border-radius: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
  background-position: left 45px top 40px;
  background-repeat: no-repeat;
  background-size: 64px 66px;
  margin-bottom: 23px;
}

.benefit-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.benefit-item:nth-last-child(-n+4):nth-child(4n+1),
.benefit-item:nth-last-child(-n+4):nth-child(4n+1) ~ .benefit-item {
  margin-bottom: 0;
}

.benefit-item-one {
  background-image: url("../img/benefits-1.svg");
}

.benefit-item-two {
  background-image: url("../img/benefits-2.svg");
}

.benefit-item-three {
  background-image: url("../img/benefits-3.svg");
}

.benefit-item-four {
  background-image: url("../img/benefits-4.svg");
}

.benefit-item-five {
  background-image: url("../img/benefits-5.svg");
}

.benefit-item-six {
  background-image: url("../img/benefits-6.svg");
}

.benefit-item-seven {
  background-image: url("../img/benefits-7.svg");
}

.benefit-item-eight {
  background-image: url("../img/benefits-8.svg");
}

.accomodation-list {
  flex-flow: row wrap;
}

.accomodation-item {
  width: 374px;
  background-color: var(--white);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 23px;
}

.accomodation-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.accomodation-item:nth-last-child(-n+3):nth-child(3n+1),
.accomodation-item:nth-last-child(-n+3):nth-child(3n+1) ~ .accomodation-item {
  margin-bottom: 0;
}

.accomodation-item-text {
  padding: 36px 45px 45px;
}

.price-small-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--gray);
}

.price-bold-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.stars {
  display: inline-block;
}

.accomodation-item-price {
  display: inline-block;
  margin: 0;
  margin-right: 43px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.accomodation-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.accomodation-item-descr {
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--gray);
}

.accomodation-item-details {
  position: relative;
  align-items: flex-end;
  justify-content: center;
  padding: 373px 54px 27px;
  background-image: url("../img/hotel-9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accomodation-item-link {
  padding-right: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--white);
  background-image: url("../img/accomodation-errow.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.accomodation-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* want-tour */
.want-tour-container {
  padding: 38px 45px 70px 45px;
  border-radius: 15px;
  background-color: #e9e9e9;
}

.want-tour-title {
  padding-left: 0;
  color: #000;
}

.form {
  justify-content: space-between;
  align-items: center;
  padding: 31px 28px;
  background-color: var(--white);
  border-radius: 15px;
}

.label {
  margin-right: 20px;
  padding-right: 20px;
  border: none;
  border-right: 1px solid #e1e1e1;
}

.label-descr {
  margin-bottom: 5px;
  padding-left: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000;
}

.form-select {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  margin: 0;
  border-radius: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  background: transparent;
  border: none;
  background-color: transparent;
  width: 167px;
  background-image: url("../img/errow-want-tour.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 10px 6px;
}

.form-input {
  width: 121px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.form-input-date {
  border: none;
  background-image: url("../img/calendar.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 13px 14px;
}

.btn-form {
  padding: 13px 30px;
}

/* contacts */
.contacts {
  margin-bottom: 20px;
}

.contacts-address-container {
  justify-content: space-between;
  padding: 46px;
  background-color: var(--white);
  border-radius: 15px;
}

.contacts-address-left {
  width: 375px;
}

.contacts-list {
  margin-bottom: 45px;
}

.contacts-item {
  padding-bottom: 23px;
  border-bottom: 1px solid #c4c4c4;
}

.contacts-item:not(:first-child) {
  padding-top: 25px;
}

.contacts-item-title {
  margin: 0;
  width: 145px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.contacts-item-descr {
  margin: 0;
  width: 230px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.contacts-item-tel {
  margin: 0;
  width: 215px;
}

.contacts-item-email {
  margin: 0;
  width: 223px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.contacts-item-link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--yellow);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.contacts-item-link:focus {
  outline-offset: 2px;
  outline: 1px solid var(--yellow);
}

.contacts-item-link:hover {
  color: var(--pale-yellow);
}

.contacts-item-link:active {
  color: var(--dark-yellow);
  outline: none;
}

.contacts-item-email-descr {
  display: inline-block;
}

.contacts-btn {
  padding: 27px 29px;
  font-weight: 700;
  outline: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, font-weight 0.3s ease-in-out,
  border-color 0.3s ease-in-out;
}

.contacts-btn:focus {
  font-weight: 400;
  color: var(--white);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.contacts-btn:hover {
  font-weight: 400;
  color: var(--white);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.contacts-btn:active {
  font-weight: 400;
  color: var(--white);
  background-color: var(--dark-yellow);
  border-color: var(--dark-yellow);
}

.contacts-address-image {
  width: 100%;
  height: 100%;
}

/* footer */
.footer-container {
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 44px 52px;
  background-color: #333;
  border-radius: 15px;
  background-image: url("../img/footer-bg.svg");
  background-position: right 175px bottom -27px;
  background-repeat: no-repeat;
  background-size: 254px 254px;
}

.footer-left-column {
  width: 320px;
}

.footer-right-column {
  width: 358px;
}

.footer-left {
  justify-content: space-between;
  width: 780px;
}

.footer-descr {
  margin: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white);
}

.footer-agreement {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--yellow);
}

.footer-address {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
}

.footer-tel {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.footer-email {
 flex-direction: column;
 align-items: flex-start;
}

.footer-link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--yellow);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.footer-link:focus {
  outline-offset: 2px;
  outline: 1px solid var(--yellow);
}

.footer-link:hover {
  color: var(--pale-yellow);
}

.footer-link:active {
  color: var(--dark-yellow);
  outline: none;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-item-icon {
  outline: none;
  transition: fill 0.3s ease-in-out;
}

.social-item-icon path {
  fill: var(--gray);
}

.social-item-icon:focus path {
  fill: var(--yellow);
}

.social-item-icon:hover path {
  fill: var(--yellow);
}

.social-item-icon:active path {
  fill: var(--dark-yellow);
}
